<footer class="site-footer">
    <a class="subscribe" href="{{@blog.url}}/rss/"><i class="icon-rss"></i><span class="tooltip">RSS</span></a>
    <div class="inner">
        <section class="copyright">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}/">{{@blog.title}}</a></section>
        <section class="poweredby">Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></section>
    </div>
    <a href="#" class="scrollup">Top</a>
</footer>