<div id="menu">
    <div class="toggle">
        <span class="toggle-icon"></span>
    </div>
    
    <h2><i class="icon-rss-sign"></i> Đăng Ký</h2>
    <span>Nhận bài mới qua email</span>
    <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=huynq', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <input type="email" name="email" placeholder="Điền email của bạn vào đây">
        <input type="hidden" value="huynq" name="uri">
        <input type="hidden" name="loc" value="en_US">
        <input type="submit" value="Nhận Email" class="button">
    </form>
    
    <h2><i class="icon-sort-by-attributes"></i> Link hay</h2>
    <ul class="nav">
        <li><a href="https://www.facebook.com/gemdecorandgift" target="_blank">GEM - Decor & Gift Kingdom</a></li>
        <li><a href="http://www.thugian360.com/" target="_blank">Thư Giãn 360</a></li>
        <li><a href="http://x.huynq.net/" target="_blank">Hot Girls trên Tumblr</a></li>
        <li><a href="http://hot.huynq.net/" target="_blank">Hot Girls trên WordPress</a></li>
        <li><a href="http://hnq.me/" target="_blank">Hot Girls trên Ghost</a></li>
        <li><a href="http://www.facebook.com/NgamGirlXinhMoiNgay2013" target="_blank">Hot Girls trên Facebook</a></li>
    </ul>
    
    <h2><i class="icon-male"></i> Whoami</h2>
    <div class="social-grid">
        <a class="icon-tumblr" href="http://iulam.tumblr.com/" target="_blank"></a>
        <a class="icon-skype" href="skype:naruto_thf90?chat&topic=HuyNQBlog" target="_blank"></a>
        <a class="icon-flickr" href="http://www.flickr.com/people/huynq192" target="_blank"></a>
        <a class="icon-facebook" href="https://www.facebook.com/nqhuy90" target="_blank"></a>
        <a class="icon-github" href="https://github.com/hnq90" target="_blank"></a>
        <a class="icon-google-plus" href="https://plus.google.com/104551363383166305711" target="_blank"></a>
    </div>
</div>