<div id="menu">
    <div class="toggle">
        <span class="toggle-icon"></span>
    </div>
	
    <section class="search-form">
	 <h3><i class="icon-search"></i> Search</h3>
		<form class="site-search">  
		   <input type="search" class="search-box" placeholder="Enter keywords">
		   <input type="submit" value="Search" class="button">
		</form>
	</section>
    
    <section class="subscribe-me">
        <h3><i class="icon-rss-sign"></i> Subscribe</h3>
        <span>Subscribe my blog</span>
        <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=huynq', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
            <input type="email" name="email" placeholder="Enter your email here">
            <input type="hidden" value="huynq" name="uri">
            <input type="hidden" name="loc" value="en_US">
            <input type="submit" value="Send" class="button">
        </form>
    </section>
    
    <section class="blog-rolls">
        <h3><i class="icon-sort-by-attributes"></i> BlogRolls</h3>
        <ul class="nav">
            <li><a href="http://www.thugian360.com/" target="_blank">Thu Gian 360</a></li>
            <li><a href="http://xxx.huynq.net/" target="_blank">Hot girls</a></li>
            <li><a href="#">Your link #3</a></li>
            <li><a href="#">Your link #4</a></li>
            <li><a href="#">Your link #5</a></li>
        </ul>
    </section>
    
    <section class="about-me">
        <h3><i class="icon-male"></i> Whoiam</h3>
        <div class="social-grid">
            <a class="icon-facebook" href="https://www.facebook.com/nqhuy90" target="_blank"></a>
            <a class="icon-github" href="https://github.com/hnq90" target="_blank"></a>
            <a class="icon-google-plus" href="https://plus.google.com/104551363383166305711" target="_blank"></a>
        </div>
    </section>
    
<!--
    <section class="h-settings">
        <h3><i class="icon-male"></i> Settings</h3>
        <input id="infinite_enable" class="css-checkbox" type="checkbox" checked />
        <label for="infinite_enable" name="infinite_scrolling_label" class="css-label">Enable Infinite Scrolling</label>
    </section>
-->
</div>
