<div id="menu">
    <div class="toggle">
        <span class="toggle-icon"></span>
    </div>

    <section class="subscribe-me">
        <h3><i class="fa fa-rss"></i> Subscribe</h3>
        <span>Subscribe my blog</span>
        <form action="http://huynq.us6.list-manage.com/subscribe/post" method="POST">
            <input type="hidden" name="u" value="ecbe15df98da933fc8209cf1b">
            <input type="hidden" name="id" value="cc27d1e413">
            <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Enter your email here">
            <input type="submit" value="Send" class="button">
        </form>
    </section>

    <section class="blog-rolls">
        <h3><i class="fa fa-sort-amount-asc"></i> BlogRolls</h3>
        <ul class="nav">
            <li><a href="http://www.thugian360.com/" target="_blank">Thu Gian 360</a></li>
            <li><a href="http://sose.xyz/" target="_blank">Hot girls</a></li>
            <li><a href="https://www.flickr.com/people/huynq192">Flickr</a></li>
            <li><a href="#">Your link #4</a></li>
            <li><a href="#">Your link #5</a></li>
        </ul>
    </section>

    <section class="about-me">
        <h3><i class="fa fa-male"></i> Whoiam</h3>
        <div class="social-grid">
            <a class="fa fa-facebook" href="https://www.facebook.com/hnq90" target="_blank"></a>
            <a class="fa fa-github-alt" href="https://github.com/hnq90" target="_blank"></a>
            <a class="fa fa-google-plus" href="https://plus.google.com/104551363383166305711" target="_blank"></a>
        </div>
    </section>
</div>
